.val_actor{
	background-color: #C14748 ;
	height: 300px;
	margin:-20px;

}


.val_actor__nombre{
	-ms-display:flex;
	display:flex;
	align-items: center;
	justify-content: center;
	color:#fff;
	margin-top:130px;
}

.val_actor__movies{
	margin-top:55px;
	
}

.fa-chevron-left{
  color: #ecf0f1
 !important;
}