.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
 
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  margin-left: 90px;;
  float: left;
  position:absolute;
  top: -30px;
}

.val_details{
  background-color: #C14748 ;
  color:#fff;
  
 
}

.val_details__watch{
  height:50px;
}


.val_movie__btn__favorites{
  width:30px;
}

.val_details_img{
  margin-top:-30px;
  width:100%;
}

.fa-chevron-left{

  color: #C14748 !important;
}