$colorrojo:#C14748 ;
$colorgris:#ecf0f1 ;
$negroOpaco:#2B2C30;
$fontuno:'Anton', sans-serif;
$fontdos:'Saira Semi Condensed', sans-serif;
$colornegro: #262626;
$colorgris-oscuro: #777;
$colorgris: #ecf0f1;
